# Readme:
# .gut/manifest.toml needs to contain the manifest for the speller bundle
# The Divvun CI encryption key 'DIVVUN_KEY' needs to be added as a secret

name: "Build Speller Archives and Bundles"
on: push

jobs:
  build:
    runs-on: self-hosted
    container: ubuntu:18.04
    steps:
      - uses: actions/checkout@v2
        with:
          repository: giellalt/giella-core
          path: giella-core
      - uses: actions/checkout@v2
        with:
          repository: giellalt/giella-shared
          path: giella-shared
      - uses: actions/checkout@v2
        with:
          path: lang
      - name: Cache build dir
        uses: actions/cache@v1
        with:
          path: lang/build
          key: ${{ runner.os }}-lang-build
      - name: Install dependencies
        run: |
          set -e
          export LANG=C.UTF-8 LC_ALL=C.UTF-8 DEBIAN_FRONTEND=noninteractive DEBCONF_NONINTERACTIVE_SEEN=true
          apt-get -qy update
          apt-get install -qfy wget build-essential autotools-dev autoconf git pkg-config gawk python3-pip zip
          pip3 install PyYAML
          wget -q https://apertium.projectjj.com/apt/install-nightly.sh -O install-nightly.sh && bash install-nightly.sh
          apt-get install -qfy foma hfst libhfst-dev cg3-dev divvun-gramcheck
          mkdir -pv ~/.ssh
          # Since some state remains after the builds, don't grow known_hosts infinitely
          ssh-keyscan github.com | tee -a ~/.ssh/known_hosts
          cat ~/.ssh/known_hosts | sort | uniq > ~/.ssh/known_hosts.new
          mv ~/.ssh/known_hosts.new ~/.ssh/known_hosts
      - name: Build
        run: |
          set -ex
          export LANG=C.UTF-8 LC_ALL=C.UTF-8
          # configure and install dependencies
          cd $GITHUB_WORKSPACE/giella-core
          ./autogen.sh && ./configure && make install
          cd $GITHUB_WORKSPACE/giella-shared
          ./autogen.sh && ./configure && make install

          # build speller
          cd $GITHUB_WORKSPACE/lang
          ./autogen.sh
          mkdir -p build && cd build
          ../configure --without-forrest --with-hfst --without-xfst --enable-reversed-intersect --disable-hfst-desktop-spellers --enable-spellers --enable-hfst-mobile-speller
          make -j$(nproc)
          # fails atm
          # make check
          ls -lah tools/spellcheckers/
      - name: Upload spellers
        uses: actions/upload-artifact@v2
        with:
          name: spellers
          path: 'lang/build/tools/spellcheckers/*-mobile.zhfst'
  bundle:
    needs: build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        include:
          - type: speller_macos
            os: macos-latest
          - type: speller_mobile
            os: macos-latest
          - type: speller_win
            os: windows-latest
          - type: speller_win_mso
            os: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Divvun CI
        uses: divvun/actions/setup@master
        with:
          key: ${{ secrets.DIVVUN_KEY }}
      - name: Download Spellers
        uses: actions/download-artifact@v2
        with:
          name: spellers
      - name: Run Divvun Bundler
        id: bundler
        uses: divvun/actions/speller/bundle@master
        with:
          bundleType: ${{ matrix.type }}
          manifest: ".gut/manifest.toml"
      - name: Upload installer
        uses: actions/upload-artifact@v2
        with:
          name: installer
          path: "${{ steps.bundler.outputs.bundle }}"
      - name: Deploy to Pahkat
        uses: divvun/actions/speller/deploy@master
        with:
          payload: "${{ steps.bundler.outputs.bundle }}"
          bundleType: ${{ matrix.type }}
          manifest: ".gut/manifest.toml"

